# write a python program which tell whether the person is eligible for  vote or not

In [4]:
age = int(input('Enter Your age'))

if age>=18:
    print('Eligible for Vote')
else:
    print('U r nor Eligible, need to wait for', 18-age, 'more years')

Enter Your age14
U r nor Eligible, need to wait for 4 more years

In [6]:
num = int(input('Enter no:'))

if num >0:
    print('No is positive')
elif num == 0:
    print('No is zero')
else:
    print('No is negative')

Enter no:45
No is positive

In [11]:
marks = int(input('Enter ur markks:'))

if marks >=85:
    print('Distinction')
elif (marks >60) & (marks <85):
    print('First Class')
elif (marks >=40) & (marks <60):
    print('Second Class')
else:
    print('Fail')

Enter ur markks:95
Distinction

####  Write a program which will print century if the player has made more than 100 runs, else it should write how many more runs is required for century

In [15]:
runs = int(input('Enter Runs :'))

if runs >= 100:
    print('Century is done')
else:
    print('Century is not done, need',100-runs, 'more runs')

Enter Runs :102
Century is done

In [16]:
def sunny():
    print('Sunnyraj')

In [18]:
sunny()

Sunnyraj

##  Write a python code which will returen a max number

In [19]:
def multiply(x,y):
    print(x*y)

In [20]:
multiply(4,5)

20

In [28]:
def maximum(p,q):
    if p > q:
        print(p)
    else:
        print(q)

In [30]:
maximum(10,45)

45

In [31]:
def sunny(*raj):
    print(max(raj))

In [32]:
sunny(10,20,30,40)

40

In [33]:
def maximum(*sunny):
    print(max(sunny))

In [35]:
maximum(10,40,70,60,40,12,2,12,75,4)

75

In [39]:
r = range(10,50,5)

In [40]:
r

range(10, 50, 5)

In [41]:
list(r)

[10, 15, 20, 25, 30, 35, 40, 45]

#  For Loop

In [43]:
for i in range(10,50,6):
    print(i)

10
16
22
28
34
40
46

In [44]:
names = ['sunny', 'Raj', 'Anand','Aarvi']

In [47]:
for name in names:
    print('www.'+name+'.com')

www.sunny.com
www.Raj.com
www.Anand.com
www.Aarvi.com

###  Print square of all the numbers with in range od 1-20

In [48]:
for i in range(1,20):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

###  Store all the even and odd numbers in a seperate list

In [63]:
import pandas as pd
even =[]
odd  =[]

for i in range(1,51):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
pd.DataFrame({'EVEN':even,'ODD':odd})

    EVEN  ODD
0      2    1
1      4    3
2      6    5
3      8    7
4     10    9
5     12   11
6     14   13
7     16   15
8     18   17
9     20   19
10    22   21
11    24   23
12    26   25
13    28   27
14    30   29
15    32   31
16    34   33
17    36   35
18    38   37
19    40   39
20    42   41
21    44   43
22    46   45
23    48   47
24    50   49

In [66]:
import pandas as pd
even = []
odd = []

for i in range(1, 51):
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

In [67]:
even

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [68]:
even = []
odd = []

for i in range(1,21):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

In [69]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [75]:
names = ['sunny', 'Raj', 'Anand','Aarvi']
s = []
for i in names:
    if i.startswith('s'):
        s.append(i)

print(s)

['sunny']

In [79]:
sunny = [5,10,15,20,25,30,35]

output = []
for i in sunny:
    output.append(i+5)
print(output)

[10, 15, 20, 25, 30, 35, 40]

In [88]:
# Create a list of marks and print only marks>80

marks = [10,50,85,74,89,96,87,89,20]

        
s = []

for p in marks:
    if p >= 80:
        s.append(p)
        
print(s)

[85, 89, 96, 87, 89]

# Duplicate

In [89]:
lst = [1,2,4,2,5,1,2,3,6,5,1,2]

output= []
for i in lst:
    if lst.count(i)>1 and i not in output:
        output.append(i)

In [90]:
print(output)

[1, 2, 5]

In [1]:
# With out using count function

lst = [1,2,4,2,5,1,2,3,6,5,1,2]
d =[]
 
for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        if lst[i]==lst[j] and lst[i] not in d:
            d.append(lst[i])

print(d)

[1, 2, 5]

In [95]:
sunny = [1,2,3,1,2]
p= []
for i in lst:
    if sunny.count(i)>1 and i not in p:
        p.append(i)
        
print(p)

[1, 2]

In [99]:
for num in range(100,200):
    if all(num % i != 0 for i in range(2, num)):
        print(num)

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

###  Write a sort function to sort the element in a list

In [103]:
num = [1,5,4,2,9,7,12]

num.sort(reverse=True)

print(num)

[12, 9, 7, 5, 4, 2, 1]

In [107]:
lst = [1,2,3,4,5,6]

def sunny(s):
    return s[::-1]

sunny(lst)

[6, 5, 4, 3, 2, 1]

In [109]:
# Its just a reverse order not descending

lst = [1,2,4,7,8,5,10]

reverse = lst[::-1]
print(reverse)

[10, 5, 8, 7, 4, 2, 1]