###  print duplicate values

In [15]:
# Print duplicate items using builtin function

lst = ['hello', 10,20,30,40,10,30,50,]

d=[]

for i in lst:
    if lst.count(i)>1 and i not in d:
        d.append(i)
print(d)

[10, 30]

In [3]:
lst = [1,2,4,5,1,6,7,8,9,1,5,4]

print(set([ x for x in lst if lst.count(x)>1]))

{1, 4, 5}

In [11]:
#With out using built in function

lst = ['hello', 10,20,30,40,10,30,50,]

d = []

for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        if lst[i]==lst[j] and lst[i] not in d:
            d.append(lst[i])

print(d)

[10, 30]

In [16]:
sunny = ['sunny',45,74,85,65,74,65,10,24,45]

s = []

for i in sunny:
    if sunny.count(i)>1 and i not in s:
        s.append(i)
        
print(s)

[45, 74, 65]

In [50]:
# "a2b2c2"------> aabbcc 

str1 = input('Enter string : ')

output= ""

for char in str1:
    if char.isalpha():  #if char is alphabet then store in var
        var = char      # else convert str number in to int
    else:
        num = int(char)
        output= output+(var*num)
        
print(output)

Enter string : a2b2c2
aabbcc

###  Write a python program to print prime numbers  between 100 to 200

In [31]:
for num in range(100,200):
    if all(num%i!=0 for i in range(2,num)):  # reminder is not zero, for i in range starting from 2 till num
        print(num)                           # Starting from 2 bcz 1 is prime no

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

###  Write a sort function to sort the element in a list

In [37]:
num = [10,15,20,25,30,40,50,60,65,70]

num.sort 

print(num)

[10, 15, 20, 25, 30, 40, 50, 60, 65, 70]

In [2]:
numbers = [10,20,30,40,200,60,70,80,90,100]

numbers.sort(reverse= True)  # If reverse is put it as true then output is in ascending
                            # If reverse is put false then its showing in descending
numbers

[200, 100, 90, 80, 70, 60, 40, 30, 20, 10]

###  Not using sort function

In [3]:
lst = [500, 200, 30, 40, 450, 60, 70, 80, 90, 100]
output = []

while lst:
    minimum = lst[0]
    for x in lst:
        if x < minimum:
            minimum = x
    output.append(minimum)
    lst.remove(minimum)

print(output)

[30, 40, 60, 70, 80, 90, 100, 200, 450, 500]

# Ascending (With out using Built in function)

In [7]:
lst = [10,20,41,52,12,41,32,10,12]

for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        if lst[i] > lst[j]:
            lst[i], lst[j] = lst[j], lst[i]
            
#print("Ascending order:", lst)
lst

[10, 10, 12, 12, 20, 32, 41, 41, 52]

# Descending Order

In [8]:
lst = [10,20,41,52,12,41,32,10,12]

for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        if lst[i] < lst[j]:
            lst[i], lst[j] = lst[j],lst[i]

lst

[52, 41, 41, 32, 20, 12, 12, 10, 10]

###  Sort in descending order

In [1]:
lst = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

def sunny(s):
    return s[::-1]

sunny(lst)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [45]:
lst = [1, 2, 3, 4, 5]
reversed_list = lst[::-1]
print(reversed_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

- The : operator is used for slicing, and the first : indicates that we want to select all the elements from the sequence.

- The second : operator is the step size, and by specifying -1 as the step size, we are telling Python to select the elements in reverse order.

###  Write a program to print no of words in a given sentense

In [5]:
s = 'My Name Is Sunnyraj'

print(len(s.split()))

4